{% extends 'base.html' %}
{% block body %}
<style>
    .body-bg {
        background-image: url('../static/mypics/gg.jpg');
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
</style>
<body class= "body-bg">
	<div class="container">
        <h1 style="color:black;margin-left:-15%;font-weight:900;">Across the Globe Authentication System</h1>
		
        <div class="row">
            <div class="col-md-4 m-auto" id="mypg">
            <center><h3 style="color:teal; margin-right:35%; margin-block:18%; font-weight:900;">Choose login Role ? </h3></center>
            <div class="btn1">
                <span>
                <a href="/doc_login" class="btn btn-success" style="text-align:center;">Doctor Login</a>
                <a href="/patient_login" class="btn btn-danger" style="text-align:center;">Patient Login</a>
                </span>
                <br>
                <a style="margin-block: 5%;margin-left:18%;" href="/register" class="btn btn-warning" style="margin-left:25%; ">Signup Here</a>

            </div>
            

        </div>
        
		</div>
	</div>
</body>
{% endblock body %}

